@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles//breakpoints.scss";
.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $background-color;
}

.form {
  display: flex;
  padding: 2em;
  width: 25%;
  border-radius: $border-radius;
  flex-direction: column;
  background-color: $color-white;
  box-shadow: $box-shadow;
  @media all and (max-width: 480px) {
    width: 90%;
  }
  @media all and (min-width: 480px) and (max-width: 768px) {
    width: 60%;
  }
  @media all and (min-width: 1024px) and (max-width: 1500px) {
    width: 37.5%;
  }
  .error {
    color: $color-orange;
  }
  .inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.75em;
    label {
      font-size: $heading-5;
      color: $gray;
      font-weight: $font-weight-light;
    }
  }
  hr {
    border: 1px solid $light-gray;
    margin-top: 1em;
    width: 100%;
  }
  p {
    color: $dark;
    a {
      font-weight: $font-weight-bold;
    }
  }
}