@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles//breakpoints.scss";
.wrapper {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
}

.form {
  display: flex;
  padding: 2em;
  width: 25%;
  max-width: 960px;
  border-radius: 3px;
  flex-direction: column;
  background-color: $foreground-color;
  box-shadow: $box-shadow;
  @media all and (max-width: 480px) {
    width: 90%;
  }
  @media all and (min-width: 480px) and (max-width: 768px) {
    width: 60%;
  }
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    width: 60%;
  }
}