@import "../../styles/input.scss";
@import "../../styles/_variables.scss";
@import "../../styles/breakpoints.scss";
.inputWrapper {
  margin: 3em auto;
  width: 95%;
  input {
    width: 300px;
  }
}

.wrapper {
  width: 95%;
  margin: 1em auto;
  padding-bottom: 4em;
  @media all and (max-width: 480px) {
    margin: 3em auto;
  }
}

.noItems {
  display: flex;
  margin-top: 10em;
  color: $medium-gray;
  justify-content: center;
}