@import "../../styles/variables";
.panel {
  padding: 1em 0;
  transform: translateY(100%);
  width: 100%;
  background-color: $color-blue;
  color: $color-white;
  overflow: visible;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  transition: transform 400ms;
  &.open {
    transform: translateY(0);
  }
  .content {
    display: flex;
    margin: auto 0 auto 1em;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      background: transparent;
      height: 0px;
      /* Chrome/Safari/Webkit */
      width: 0px;
    }
    .saveTo {
      opacity: 0.7;
      white-space: nowrap;
      margin-right: 0.5em;
    }
    .pill {
      margin: 0 0.5em;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0.75em 1em;
      background: transparent;
      color: $color-white;
      white-space: nowrap;
      font-weight: 600;
      border: 1px solid rgba(#fff, 0.5);
      border-radius: 2.5em;
      &.selected {
        background: $color-white;
        color: $color-blue;
      }
    }
    button {
      padding: 0;
      border: none;
    }
    .close {
      margin: 0 1em;
      padding: 0.875em;
      background: darken($color-blue, 15%);
      cursor: pointer;
      border-radius: 50%;
      .closeIcon {
        color: rgba($color-white, 0.7);
        display: block;
      }
    }
  }
}