@import "../../styles/_variables.scss";
.collections {
  width: 100%;
  header {
    text-align: center;
    padding: 1.5em 0;
    background-color: $light-gray;
    border-top: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    h1 {
      margin: auto;
      font-weight: 700;
      font-size: 2em;
      color: $new-dark;
    }
  }
}