@import "../../styles/variables";
.header {
  width: 85%;
  margin: 3em auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $font-sans-serif;
  .content {
    h1 {
      font-weight: $font-weight-bold;
      margin: 0;
      font-size: $heading-1;
    }
    h3 {
      font-weight: $font-weight-medium;
      color: $gray;
      margin: 0;
    }
  }
}