@import '../../../styles/input.scss';
@import '../../../styles/_variables.scss';
@import '../../../styles/breakpoints.scss';
.header {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  gap: 2em;
  justify-content: space-between;
  @media all and (max-width: 480px) {
    flex-direction: column;
  }
  .likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
      path {
        margin-top: 5px;
      }
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    h1 {
      margin: 0.5em 0;
      font-weight: $font-weight-bold;
      cursor: pointer;
      color: $dark;
      transition: color 400ms;
    }
    h3 {
      font-weight: $font-weight-normal;
      color: $dark;
      margin: 0;
      span {
        font-weight: 500;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .buttons {
    display: flex;
    margin: 0.5em 0;
    flex-direction: column;
    gap: 10px;
    .skull {
      margin: 0.35em;
    }
  }
}

.tags {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 60%;
  margin-right: auto;
  padding: 0;
  @media all and (max-width: 480px) {
    width: 80%;
    margin-right: auto;
    margin-top: 2em;
    flex-wrap: wrap;
  }
  .tag {
    padding: 0.25em;
    border-radius: $border-radius;
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    font-size: 0.9em;
  }
}