@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.imageWrapper {
  margin: 2.5em auto;
  img {
    width: 1000px;
    height: auto;
    object-fit: contain;
    border-radius: 0.25em;
    z-index: 5;
    position: relative;
    border: 1px solid $medium-gray;
    cursor: pointer;
    transition: box-shadow 400ms;
    @media all and (max-width: 480px) {
      width: 300px;
    }
    @media all and (min-width: 424px) and (max-width: 750px) {
      width: 380px;
    }
    @media all and (min-width: 480px) and (max-width: 768px) {
      width: 600px;
    }
  }
  .background {
    height: 100%;
    width: 100%;
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    position: absolute;
    border-radius: $border-radius;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 400ms;
    &.one {
      z-index: 1;
      transform: rotate(-1deg);
    }
    &.two {
      z-index: 2;
      transform: rotate(1deg);
    }
    &.three {
      z-index: 3;
      transform: rotate(-2deg);
    }
    &.four {
      z-index: 4;
      transform: rotate(2deg);
    }
  }
}