@import "../styles/_variables";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $color-orange;
  width: 100vw;
  .text {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    h1 {
      font-size: 15em;
      font-weight: 900;
      color: $new-dark;
      padding: 0;
      margin: 0;
    }
  }
  h3 {
    color: $new-dark;
  }
}