.cardGrid {
  width: 100%;
  display: grid;
  margin: 3em auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
  padding-bottom: 4em;
  &.oneItem {
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @media all and (max-width: 480px) {
      width: 95%;
    }
  }
}