.input {
  padding: 1em;
  margin: 6px 0 6px;
  border-radius: 2px;
  outline: none;
  background-color: #fafafa;
  border: 2px solid #e8e8e8;
  transition: border 400ms;
  &:focus {
    border: 2px solid rgba(27, 136, 129, .8);
    transition: border 400ms;
  }
  &:hover {
    border: 2px solid rgba(27, 136, 129, .5);
    transition: border 400ms;
  }
}