/* Font Sizes */

$baseFontSize: 1rem;
$baseNavSize: 0.64rem;
$smallFontSize: 0.8rem;
$smallestFontSize: 0.512rem;
$xtra-big-ass-heading: 3.052rem;
$xtra-heading: 2.441rem;
$heading-1: 1.953rem;
$heading-2: 1.563rem;
$heading-3: 1.25rem;
$heading-4: $baseFontSize;
$heading-5: $smallFontSize;
$heading-6: 0.64rem;
$heading-7: $smallestFontSize;

/* Font Families  */

$font-sans-serif: Avenir;

/* Font weights */

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: bold;

/* Colors */

$brand: #2a84ff;
$color-blue: #2a84ff;
$color-white: #fff;
$background-color: #f0f2f5;
$foreground-color: #fff;
$dark-gray: #222;
$medium-gray: #9e9ea7;
$gray: #767676;
$light-gray: #e4e6eb;

/* Shadows, add more later as need be */

$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
0 2px 4px rgba(0, 0, 0, 0.07),
0 4px 8px rgba(0, 0, 0, 0.07),
0 8px 16px rgba(0, 0, 0, 0.07),
0 16px 32px rgba(0, 0, 0, 0.07),
0 32px 64px rgba(0, 0, 0, 0.07);