/* Font Sizes */

$baseFontSize: 1rem;
$baseNavSize: 0.64rem;
$smallFontSize: 0.8rem;
$smallestFontSize: 0.512rem;
$xtra-big-ass-heading: 3.052rem;
$xtra-heading: 2.441rem;
$heading-1: 1.953rem;
$heading-2: 1.563rem;
$heading-3: 1.25rem;
$heading-4: $baseFontSize;
$heading-5: $smallFontSize;
$heading-6: 0.64rem;
$heading-7: $smallestFontSize;

/* Font weights */

$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;

/* Colors */