@import "./variables";
.button {
  cursor: pointer;
  padding: 0.55em;
  border-radius: $border-radius;
  font-weight: 400;
  transition: background-color 400ms, border 400ms;
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  cursor: pointer;
  white-space: nowrap;
  height: min-content;
  font-family: Rubik;
  &.secondary {
    background-color: transparent;
    border-color: transparent;
    @media (hover: hover) {
      &:hover {
        background-color: $light-gray;
      }
    }
  }
  &.dark {
    background-color: $dark;
    border: 1px solid black;
    color: $color-orange;
    font-weight: 500;
    @media (hover: hover) {
      &:hover {
        background-color: darken($dark, 20%);
      }
    }
  }
  @media (hover: hover) {
    &:hover {
      background-color: darken($light-gray, 5%);
    }
  }
}