@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.wrapper {
  border: 1px solid red;
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 3px;
  }
  .content {
    border: 1px solid red;
  }
  .tags {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 0.5em;
    .tag {
      padding: 0.45em;
      background-color: $light-gray;
      border-radius: 360px;
    }
  }
}