@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.wrapper {
  border: 5px solid black;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
  }
  .tags {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 0.5em;
    .tag {
      padding: 0.45em;
      background-color: $light-gray;
    }
  }
}