@import "../../../styles/_variables.scss";
.modal {
  width: 35%;
  height: min-content;
  font-size: 1rem;
  padding-bottom: 2em;
  background: $color-white;
  border-radius: 0.5em;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  box-shadow: $box-shadow;
  transition: height 400ms;
  @media all and (max-width: 480px) {
    width: 90%;
  }
  @media all and (min-width: 480px) and (max-width: 768px) {
    width: 60%;
  }
  @media all and (min-width: 1024px) and (max-width: 1500px) {
    width: 37.5%;
  }
}