@import "../../../../styles/input.scss";
@import "../../../../styles/_variables.scss";
@import "../../../../styles/breakpoints.scss";
.wrapper {
  &:before {
    content: '';
    display: block;
    background: $medium-gray;
    height: 1px;
    margin: 2.5em 0;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    h4 {
      margin: 0;
      font-weight: 500;
      color: $color-orange;
      text-decoration: underline;
      transition: color 400ms;
      cursor: pointer;
      @media(hover: hover) {
        &:hover {
          color: darken($color-orange, 15%)
        }
      }
    }
    h3 {
      margin: 0;
      font-weight: 500;
    }
  }
}

.thumbnails {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 1.5em;
  grid-gap: 3rem;
  .imgWrapper {
    width: 100%;
    position: relative;
    @media(hover: hover) {
      &:hover>.background.one {
        transform: rotate(-3deg) scale(1.0125);
      }
      &:hover>.background.two {
        transform: rotate(3deg) scale(1.0125);
      }
    }
    img {
      width: 100%;
      object-fit: contain;
      height: auto;
      border-radius: 0.25em;
      cursor: pointer;
      z-index: 3;
      position: relative;
      transition: 400ms;
      border: 1px solid $medium-gray;
    }
    .background {
      height: 102%;
      width: 102%;
      background-color: $light-gray;
      border: 1px solid $medium-gray;
      position: absolute;
      border-radius: $border-radius;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: 400ms;
      &.one {
        z-index: 1;
        transform: rotate(-2deg);
      }
      &.two {
        z-index: 2;
        transform: rotate(2deg);
      }
    }
  }
}