@import "../../../styles/input";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
@import "../../../styles/_radio.scss";
.form {
  display: flex;
  width: 90%;
  margin: 1em auto 0;
  flex-direction: column;
  h1 {
    font-size: $heading-2;
    color: $dark-gray;
  }
  .inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.75em;
  }
  .radioWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 0.75em;
  }
  label {
    font-size: $heading-5;
    color: $dark;
    text-transform: lowercase;
    font-weight: 600;
  }
  .buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;
    button {
      border: none;
      flex: 1;
      font-size: 1em;
      background-color: $light-gray;
      border: 1px solid $medium-gray;
      padding: 0.5em;
      border-radius: $border-radius;
      font-weight: 500;
      @media (hover: hover) {
        cursor: pointer;
      }
    }
    .closeButton {
      background-color: transparent;
      border: 1px solid transparent;
    }
    .submit {
      transition: background-color 400ms;
      .submitContent {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        line-height: 1;
        gap: 0.5em;
        flex-direction: row;
      }
      &.success {
        color: $color-green;
        @media (hover: hover) {
          &:hover {
            background-color: darken($light-gray, 5%);
          }
        }
      }
      @media (hover: hover) {
        &:hover {
          background-color: darken($light-gray, 5%);
        }
      }
    }
    .loading {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      line-height: 1;
      gap: 0.5em;
      flex-direction: row;
      span {
        padding: 0;
        height: min-content;
      }
    }
  }
}