@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.wrapper {
  position: relative;
  transition: 400ms;
  border: 1px solid $light-gray;
  transition: 400ms;
  border-radius: $border-radius;
  @media(hover: hover) {
    &:hover>.background.one {
      transform: rotate(-3deg) scale(1.0125);
    }
    &:hover>.background.two {
      transform: rotate(3deg) scale(1.0125);
    }
    &:hover>.background.three {
      transform: rotate(-5deg) scale(1.0125);
    }
    &:hover>.background.four {
      transform: rotate(5deg) scale(1.0125);
    }
  }
  .imgWrapper {
    width: 100%;
    border-radius: $border-radius;
  }
  .background {
    height: 100%;
    width: 100%;
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    position: absolute;
    border-radius: $border-radius;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 400ms;
    &.one {
      z-index: 1;
      transform: rotate(-2deg);
    }
    &.two {
      z-index: 2;
      transform: rotate(2deg);
    }
    &.three {
      z-index: 3;
      transform: rotate(-3deg);
    }
    &.four {
      z-index: 4;
      transform: rotate(3deg);
    }
  }
  img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    transition: box-shadow 400ms;
    border: 1px solid $medium-gray;
    cursor: pointer;
    border-radius: $border-radius;
    z-index: 5;
  }
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 1em auto;
  .tags {
    display: flex;
    width: min-content;
    margin: -0.5em auto;
    white-space: nowrap;
    gap: 0.5em;
    span {
      color: $dark;
    }
  }
  h3 {
    font-weight: $font-weight-medium;
    color: $new-dark;
    font-size: 1.2em;
    cursor: pointer;
    transition: 400ms;
    text-decoration: none;
    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}