@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.wrapper {
  // position: relative;
  img {
    width: 100%;
    object-fit: contain;
    border: 1px solid lighten($gray, 35%);
    border-radius: 3px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
    h1 {
      font-size: $heading-3;
      font-weight: 500;
      margin: 0.5em 0 0.25em;
    }
    h3 {
      font-size: $heading-4;
      font-weight: 300;
      opacity: 0.7;
      margin: 0;
    }
  }
  .tags {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    .tag {
      padding: 0.35em 0.75em;
      border-radius: 1em;
      background: $light-gray;
    }
  }
}