@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.wrapper {
  position: relative;
  transition: 400ms;
  @media(hover: hover) {
    &:hover > .content {
      visibility: visible;
      opacity: 1;
    }
  }
  .imgWrapper {
    width: 100%;
    >div {
      position: unset !important;
    }
  }
  img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    border-radius: 3px;
    box-shadow: $box-shadow;
    border-radius: 0.25em;
    transition: box-shadow 400ms;
    cursor: pointer;
    @media(hover: hover) {
      &:hover {
        box-shadow: $big-box-shadow;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 4em 0 1em 0;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    background-image: linear-gradient(transparent, #222);
    transition: 400ms;
    .actions {
      display: flex;
      flex-direction: row;
      font-family: $font-sans-serif;
      align-items: center;
      justify-content: space-between;
      margin-top: 1vh;
      h1 {
        font-size: 1.15em;
        font-weight: 500;
        margin: 0 1em;
        color: white;
      }
      .saveButton {
        border: none;
        padding: 0.5em 0.5em;
        border-radius: 0.25em;
        background-color: $light-gray;
        transition: background-color 400ms;
        cursor: pointer;
        margin-right: 1em;
        z-index: 2;
        svg {
          display: block;
          padding: 0;
        }
        @media(hover: hover) {
          &:hover {
            background-color: darken($light-gray, 5%);
          }
        }
      }
    }
  }
  .tags {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    .tag {
      padding: 0.35em 0.75em;
      border-radius: 1em;
      background: $light-gray;
    }
  }
}