@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.wrapper {
  padding: 1em 0;
  transform: translateY(100%);
  width: 100%;
  background-color: $background-color;
  color: $dark-gray;
  // overflow-y: scroll;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  transition: transform 400ms;
  font-family: $font-sans-serif;
  -webkit-box-shadow: inset 0px 0px 0px 6px $light-gray;
  -moz-box-shadow: inset 0px 0px 0px 6px $light-gray;
  box-shadow: inset 0px 0px 0px 6px $light-gray;
  &.open {
    transform: translateY(0);
  }
  .content {
    display: flex;
    margin: 1em auto;
    width: min-content;
    align-items: center;
    flex-direction: column;
    .closeIcon {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1em 2em 0 0;
      cursor: pointer;
      transition: opacity 400ms;
      @media(hover: hover) {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  header {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 2em;
    .left {
      display: flex;
      flex: 3;
      flex-direction: column;
      h1 {
        font-size: $heading-3;
        margin: 0.05em 0;
        font-weight: $font-weight-bold;
        cursor: pointer;
        transition: color 400ms;
        width: 90%;
        @media(hover: hover) {
          &:hover {
            color: $color-blue;
          }
        }
      }
      h3 {
        font-size: $heading-4;
        font-weight: $font-weight-normal;
        opacity: .8;
        margin: 0;
      }
    }
    .right {
      display: flex;
      flex: min-content;
      flex-direction: column;
      .saveButton {
        border: none;
        padding: 0.75em;
        border-radius: 0.25em;
        align-items: center;
        background-color: $light-gray;
        transition: background-color 400ms, border 400ms;
        cursor: pointer;
        color: #050505;
        border: 1px solid lighten($gray, 35%);
        svg {
          display: block;
        }
        @media(hover: hover) {
          &:hover {
            background-color: darken($light-gray, 5%);
            border: 1px solid lighten($gray, 15%);
          }
        }
      }
    }
  }
  .tags {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 0.5em;
    // align-items: left;
    margin-right: auto;
    padding: 0;
    .tag {
      padding: 0.5em;
      border-radius: 0.25em;
      background: $light-gray;
      font-size: $heading-4;
      border: 1px solid lighten($gray, 35%);
    }
  }
  .imageWrapper {
    margin: 1em 0;
    img {
      border-radius: 0.5em;
      box-shadow: $box-shadow;
      cursor: pointer;
      transition: box-shadow 400ms;
      @media(hover: hover) {
        &:hover {
          box-shadow: $big-box-shadow;
        }
      }
    }
  }
  .image {
    height: 500px;
    width: auto;
  }
}