@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.wrapper {
  width: 85%;
  margin: 3em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5rem;
  padding-bottom: 4em;
  @media all and (max-width: 480px) {
    width: 95%;
  }
}

.noItems {
  display: flex;
  margin-top: 10em;
  color: $new-gray;
  justify-content: center;
}