@import "../../styles/_variables.scss";
.spinnerWrapper {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      font-weight: 700;
      color: $gray;
    }
  }
}