@import "../../styles/_variables.scss";
.noCollections {
  width: 50%;
  text-align: center;
  margin: 3em auto;
  font-family: Rubik;
  color: $dark;
  padding: 1em;
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  @media all and (max-width: 480px) {
    width: 90%;
  }
  h1 {
    font-size: 5em;
  }
}