@import "../../../styles/input.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/breakpoints.scss";
.navigation {
  padding: 0.75em 0;
  width: 100%;
  border-bottom: 1px solid $light-gray;
  white-space: nowrap;
  .content {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      background: transparent;
      height: 0px;
      width: 0px;
    }
    @media all and (max-width: 480px) {
      width: 100%;
    }
  }
  .left {
    display: flex;
    margin: auto 0 auto 2em;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
  }
  .logo {
    margin: auto 0 auto 2em;
    cursor: pointer;
    transition: 400ms ease-in-out;
    @media(hover: hover) {
      &:hover {
        filter: drop-shadow(-60px 0px 0.11px $color-orange);
      }
    }
  }
  .buttons {
    margin: auto 2em;
    display: flex;
    font-size: 1em;
    gap: 1em;
  }
}

.button {
  border: none;
  outline: none;
  height: 35px;
  font-size: .9em;
  background: none;
  font-weight: 500;
  border-radius: $border-radius;
  font-weight: 600;
  cursor: pointer;
}